<div class="container mx-auto">

  <div class="flex justify-between mt-10">
    <h1>Todo App
      <i class="fa-brands fa-instagram"></i><i
        class="fa-brands fa-linkedin"
      ></i></h1>
    <a href="/create-todo" class="bg-pink-700 px-4 py-2 rounded text-white">Add
      Todo</a>
  </div>

  <table id="customers" class="mt-6">
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Note</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {{#each todos}}
      <tr>
        <td>{{increment @index}}</td>
        <td>{{this.title}}</td>
        <td>{{this.note}}</td>
        <td>{{this.status}}</td>
        <td>
          <a
            href="/update-todo/{{this.id}}"
            class="bg-yellow-500 px-4 py-2 rounded text-white"
          >Edit</a>
          <button
            onclick="handleDelete({{this.id}})"
            class="bg-red-500 px-4 py-2 rounded text-white"
          >Delete</button>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<script>
  function handleDelete(id) { const result = confirm("Hapus data ini?");
  if(result == true) { window.location.href = `/delete-todo/${id}`; } }
</script>